<a href="https://colab.research.google.com/github/tedodote6/Electric-car-usage/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_11_Ted_Odote_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('http://bit.ly/autolib_dataset')
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
df1.shape

(2816, 21)

we have missing values in the above dataset

In [ ]:
# Dropping irrelevant Data
# dropped the "Scheduled at" column cause it contains NULL values
df.drop(["Geo point", "Displayed comment", "Address", "Scheduled at"], axis = 1, inplace = True)

In [ ]:
# checking for missing values
df.isnull().sum()

Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [ ]:
# check for duplicates
df1 = df.drop_duplicates()
df1.head()

   Cars  Bluecar counter  Utilib counter  ...  day  hour minute
0     0                0               0  ...    8    11     43
1     6                6               0  ...    6     7     24
2     3                3               0  ...    3    20     14
3     3                3               1  ...    4     4     37
4     3                3               0  ...    8    17     23

[5 rows x 21 columns]

In [ ]:
# checking whether The cars and Bluecar counter are Equal (should be equal)
data_clean = df1[df1['Cars'] != 'Bluecar counter']
data_clean

      Cars  Bluecar counter  Utilib counter  ...  day  hour minute
0        0                0               0  ...    8    11     43
1        6                6               0  ...    6     7     24
2        3                3               0  ...    3    20     14
3        3                3               1  ...    4     4     37
4        3                3               0  ...    8    17     23
...    ...              ...             ...  ...  ...   ...    ...
4995     2                2               0  ...    6    11     26
4996     4                4               0  ...    4    16     56
4997     1                1               0  ...    1     7      1
4998     2                2               0  ...    4    17     27
4999     4                4               0  ...    8    10      2

[5000 rows x 21 columns]

In [ ]:
# sorting ID of the station
df1.sort_values(["ID","day","hour","minute"], ascending=[True,True,True,True])[10:50]

      Cars  Bluecar counter  Utilib counter  ...  day  hour minute
1923     4                4               0  ...    6     7     52
2724     0                0               0  ...    1    15     11
408      0                0               0  ...    2    21     15
3595     0                0               0  ...    2    23     46
1726     0                0               0  ...    5     9     57
465      0                0               0  ...    5    22     22
853      0                0               0  ...    8    21     43
4668     0                0               0  ...    9     0     37
2016     6                6               0  ...    1     5     24
1248     2                2               1  ...    2    23     47
746      1                1               0  ...    4    20     19
4744     4                4               0  ...    7     8     15
3701     4                4               0  ...    1     2      0
269      5                5               0  ...    1    23      0
4900     3                3               0  ...    3    20     54
2980     0                0               0  ...    4    11     48
1253     5                5               0  ...    8     4     21
937      4                4               1  ...    1     1     28
4953     0                0               0  ...    2    16     21
3655     4                4               0  ...    3     4      8
1313     0                0               0  ...    3    12     42
2307     5                5               1  ...    6    20     56
1296     1                1               0  ...    7    16     28
4428     5                5               0  ...    9    21      6
2313     0                0               0  ...    2    19     10
4236     1                1               0  ...    2    21     41
1678     1                1               0  ...    3    19      5
3710     2                2               1  ...    4     9     59
3623     5                5               0  ...    8     3     30
201      4                4               0  ...    9    17     12
4712     4                4               0  ...    9    18     33
4659     0                0               0  ...    1    14     21
4244     0                0               0  ...    2    17      5
423      0                0               0  ...    3     9     48
1750     0                0               0  ...    4    11     58
4891     0                0               0  ...    9    17     57
848      6                6               0  ...    1    10     25
1798     4                4               0  ...    1    18     49
2243     1                1               0  ...    2    11      9
2959     6                6               0  ...    4     9     59

[40 rows x 21 columns]

In [ ]:
 # Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

df1 = df1.sort_values(['Bluecar counter', 'hour'], ascending=[False, False])
df1.head()

      Cars  Bluecar counter  Utilib counter  ...  day  hour minute
3115     7                7               0  ...    9    17     24
2470     7                7               0  ...    9     3     12
2779     6                6               0  ...    5    23     48
3521     6                6               0  ...    3    23     21
173      6                6               0  ...    5    22     26

[5 rows x 21 columns]

In [ ]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

df1 = df1[df1['City'] =='Paris'] 

df1.head()

   Cars  Bluecar counter  Utilib counter  ...  day  hour minute
0     0                0               0  ...    8    11     43
1     6                6               0  ...    6     7     24
3     3                3               1  ...    4     4     37
4     3                3               0  ...    8    17     23
5     0                0               0  ...    6     7      2

[5 rows x 21 columns]

In [ ]:
# What station is the most popular Overall?
df1[(df1['Kind'] == 'STATION') & (df1['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64

In [ ]:
#  What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?

 # Overall?
df1[(df1['Kind'] == 'STATION') & (df1['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75015    220
75016    197
75017    180
75011    155
75013    155
75008    150
75020    149
75012    138
75019    134
75014    128
75018    120
75007     99
75010     98
75009     93
75005     85
75006     74
75004     58
75003     55
75002     54
75001     43
75112      6
75116      5
Name: Postal code, dtype: int64

In [ ]:
#  What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?

# At the most popular picking hour?
df1[(df1['Kind'] == 'STATION') & (df1['Status'] == 'ok') & (df1['hour'] == 17)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75017    11
75020    10
75016     8
75006     8
75013     8
75015     7
75007     6
75008     6
75009     5
75018     5
75001     4
75019     4
75011     4
75012     4
75014     4
75010     3
75005     2
75004     2
75003     1
75002     1
Name: Postal code, dtype: int64

In [ ]:
# What station is the most popular at the most popular picking hour?
popular = df1.sort_values(by=['hour'], ascending=False)
print(popular.head())

      Cars  Bluecar counter  Utilib counter  ...  day  hour minute
2779     6                6               0  ...    5    23     48
2053     0                0               0  ...    5    23      2
141      0                0               0  ...    5    23     35
1129     0                0               0  ...    8    23     47
4463     0                0               0  ...    2    23     47

[5 rows x 21 columns]